#grid-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
}

.box{
    width: 100px;
    height: 50px;
    line-height: 5px;
    border: solid 1px #cccccc;
    font-size: 20px;
    text-align: center;
}

.box-buttons{
    border: solid 1px #cccccc;
    padding: 5px;
    text-align: center;
}